@model IEnumerable<GymProjectWithGoogleAuth.Models.Clases.Horario>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="datatable" style="width:100%">

                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Profesor</th>
                            <th>Sucursal</th>
                            <th>Hora de Inicio</th>
                            <th>Hora de Finalización</th>
                            <th>Día</th>
                            <th>Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    @foreach (var horario in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => horario.Actividad.Nombre)
                            </td>
                            <td>
                                @horario.Profesor.Nombre @horario.Profesor.Apellido
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => horario.Sucursal.Barrio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => horario.HoraInicio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => horario.HoraFin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => horario.Dia)
                            </td>
                            <td>
                                <input type="text" onfocus="(this.type='date')" class="form-control" id="fechaActividad" required="required" placeholder="Ingrese una fecha...">
                            <td>
                                <input type="button" class="btn btn-primary" value="Inscribir" onclick="inscribir(@horario.IdHorario, $(this).closest('tr').find('input').val())" />
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/datatable.js"></script>
}