@model IEnumerable<GymProject.Models.Clases.Alumno>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAlumno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Editar Alumno", "ModificarAlumno", new { id = item.IdAlumno }) |
                @Html.ActionLink("Eliminar Alumno", "EliminarAlumno", new { idAlumno = item.IdAlumno })
            </td>
        </tr>
    }

</table>
