@model GymProjectWithGoogleAuth.Models.Clases.Credito

@{
    ViewBag.Title = "Detalle";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IdCredito)
        @Html.HiddenFor(m => m.IdCredito, new { idCredito = "IdCredito" })

        <dt>ID</dt>
        <dd>@Html.DisplayFor(model => model.IdCredito)</dd>

        <dt>Sucursal</dt>
        <dd>@Html.DisplayFor(model => model.Pack.Sucursal.Barrio)</dd>

        <dt>Cantidad de Créditos</dt>
        <dd>@Html.DisplayFor(model => model.Cantidad)</dd>

        <dt>Fecha de Compra</dt>
        <dd>@Html.DisplayFor(model => model.FechaCompra)</dd>

        <dt>Fecha de Expiración</dt>
        <dd>@Html.DisplayFor(model => model.FechaExpiracion)</dd>

    </dl>
</div>

<div>
    <input type="button" class="btn btn-warning" value="Regresar" onclick="location.href='@Url.Action("ListarCreditos", "Alumno")'" />
</div>