@model GymProjectWithGoogleAuth.Models.Clases.Credito

@{
    ViewBag.Title = "Detalle";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Pack.Sucursal.Barrio, "Sucursal", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pack.Sucursal.Barrio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Cantidad, "Cantidad de Créditos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.FechaCompra, "Fecha de Compra", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaCompra, new { htmlAttributes = new { @type = "text", @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.FechaExpiracion, "Fecha de Expiración", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FechaExpiracion, new { htmlAttributes = new { @type = "text", @class = "form-control", @readonly = "readonly" } })
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id="datatable" style="width:100%">

                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Profesor</th>
                            <th>Sucursal</th>
                            <th>Día</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>

                    @foreach (List<String> subList in ViewBag.detalleCreditos)
                    {
                        <tr>
                            @foreach (var item in subList)
                            {
                                <td>
                                    @item
                                </td>
                            }
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

<br />

<div>
    <input type="button" class="btn btn-warning" value="Regresar" onclick="location.href='@Url.Action("ListarCreditos", "Alumno")'" />
</div>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/datatable.js"></script>
}