@model GymProjectWithGoogleAuth.Models.ExternalLoginConfirmationViewModel

@{
    ViewBag.Title = "Registrarse";
}

<h2>@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <p class="text-info">
        Se ha autenticado correctamente con <strong>Google</strong>.
        Haga clic en el botón <i>'Registrar Cuenta'</i> para finalizar el inicio de sesión.
    </p>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, "E-Mail", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar Cuenta" class="btn btn-primary" />
        </div>
    </div>
}