@model GymProjectWithGoogleAuth.Models.Clases.Pack

@{
    ViewBag.Title = "Modificar Pack";
    Layout = "~/Views/Shared/_Layout_Administrador.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdPack)
        @Html.HiddenFor(m => m.IdPack, new { idPack = "IdPack" })

        <div class="form-group">
            @Html.LabelFor(model => model.Sucursal, "Sucursal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="idSucursal">
                    @foreach (var sucursal in ViewBag.data)
                    {
                        if (sucursal.NroSucursal == Model.Sucursal.NroSucursal)
                        {
                            <option value="@sucursal.NroSucursal" selected>@sucursal.Barrio</option>
                        }
                        else
                        {
                            <option value="@sucursal.NroSucursal">@sucursal.Barrio</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CantCreditos, "Cantidad de Créditos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantCreditos, new { htmlAttributes = new { @type = "number", min = "1", @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.CantCreditos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DiasVigencia, "Días de Vigencia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiasVigencia, new { htmlAttributes = new { @type = "number", min = "1", @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.DiasVigencia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precio, "Precio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="reset" value="Borrar Cambios" class="btn btn-danger" />
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <input type="button" class="btn btn-warning" value="Cancelar" onclick="location.href='@Url.Action("ListarPacks", "Pack")'" />
</div>