@model GymProjectWithGoogleAuth.Models.Clases.Actividad

@{
    ViewBag.Title = "Modificar Actividad";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdActividad)
        @Html.HiddenFor(m => m.IdActividad, new { idActividad = "IdActividad" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="reset" value="Borrar Cambios" class="btn btn-danger" />
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <input type="button" class="btn btn-warning" value="Cancelar" onclick="location.href='@Url.Action("ListarActividades", "Administrador")'" />
</div>